.ItemHeader1-S {
    margin-top: 3.5rem !important;
}

.ItemHeader-S {
    margin-top: 16px;
    margin-bottom: 0px;
    border-radius: 12px;
}

.list-S{
    padding: 0px !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}