.tool-R{
    position: absolute;
    background: transparent;
    color: rgb(20, 20, 20);
    --border-style: none;
}

.Img-R{
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    width: 134px;
    height: 201px;
}

.color-R{
    color: black;
}

.Label-R{
    margin-top: 5.5rem
}

.Label2-R{
    margin-top: 1rem;
}

.btn-R {
    width: 100%;
    margin-top: 5.5rem;
    border: 1px solid #003fa2;
    /* --background: var(--ion-background-color, #d67e2c); */
}